*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.RegisterDivOne{
width:90vw;
display: flex;
flex-direction:column;
justify-content: center;

}

.UserDetails{
    display: flex;
    padding: 2rem;
    border: 0px solid grey;
    width: 40rem;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}